<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  EDUCATION
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Sacred Heart Uinveristy
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Masters in Computer Science
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Connecticut
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Mar 2022-Dec2024
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Course work: AI, ML, Cloud Computing
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Keshav Memorial Instutitue of Technology Hyderabad
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Bacholors in Computer Science
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Aug 2016 - Aug 2022
</p>
