"
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Software engineer | Kibu | New York Mar 2022 - Present
</p>
<p
  style="
    font-size: 14px;
    padding: 0px;
    line-height: 1.25;
    font-family: Calibri, Arial, sans-serif;
    white-space: pre-wrap;
    margin: 0px;
  "
>
  Developed a mobile app under $20k and improved performance of the app by
  creating re usable components
</p>
